.env
node_modules
.yarn/cache
.yarn/unplugged
.pnp.cjs
.pnp.loader.mjs
dist
coverage
apps/api/node_modules
apps/web/node_modules
apps/api/dist
apps/web/dist
wallets
blockchain/network/crypto-config
blockchain/network/channel-artifacts
blockchain/network/connection-profiles
infra/compose/postgres_data
infra/compose/ipfs_data
infra/compose/prometheus_data
infra/compose/grafana_data
*.log
